<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="css/style.css">
  <title>Product Intelligence</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>

<body>
  <!-- top level heading -->
  <header class="_demo--heading">
      <a class="wordmark" href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/" target="_blank">
        <span class="wordmark--left">IBM</span>
        <span class="wordmark--right">Product Intelligence</span>
      </a>
      <nav class="heading-nav" role="menubar">
        <li class="base--li heading-nav--li" role="presentation">
          <a class="heading-nav--item" href="https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/services-catalog.html" target="_blank" role="menuitem">
                    	Services
					</a>
        </li>
        <li class="base--li heading-nav--li" role="presentation">
          <a class="heading-nav--item" href="https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/" target="_blank" role="menuitem">
						Docs
					</a>
        </li>
        <li class="base--li heading-nav--li" role="presentation">
          <a class="heading-nav--item" href="https://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/gallery.html" target="_blank" role="menuitem">
						App Gallery
					</a>
        </li>
        <li class="base--li heading-nav--li" role="presentation">
          <a class="heading-nav--item" href="https://developer.ibm.com/watson/" target="_blank" role="menuitem">
            Community
          </a>
        </li>
      </nav>
  </header>

  <!-- demo body -->
  <div class="result">
    <div class="result--search">
      <input type='text' class='result--search--input' id='query' placeholder='Enter a product name'></input>
    </div>
    <div class="loader">
      <img src="images/loading.gif" alt="loading animation">
    </div>
    <article class="_content result--article">
      <div class="result--sidebar">
        <ul>
          <li><a class="result--sidebar-link" href='#'>Overview</a></li>
          <li><a class="result--sidebar-link" href='#features'>Features</a></li>
          <li><a class="result--sidebar-link" href='#issues'>Issues</a></li>
          <li><a class="result--sidebar-link" href='#customer-service'>Customer Service</a></li>
        </ul>
      </div>
      <div class="result--product">
        <a name="features"></a>
        <div class="result--h2 result--header"></div>

        <hr class="page-splitter" width="30%">
        <div class="result--h3">Features</div>
        <div class="result--features">

        </div>

        <hr class="page-splitter" width="30%">
        <div class="result--h3"><a name="issues"></a>Issues</div>
        <div class="result--issues">

        </div>
        <hr class="page-splitter" width="30%">
        <div class="result--h3"><a name="customer-service">Customer Service</a></div>
        <div class="result--customer-service">

        </div>
      </div>
    </article>
  </div>

  <$ include ./underscore-templates.ejs $>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  <script type="text/javascript" src="js/demo.js"></script>
</body>

</html>
