$container-width-x-large: 860px;
$container-width-large: get('large');
@mixin visibility-hidden {
  visibility: hidden;
  opacity: 0;
}
@mixin visibility-show {
  visibility: visible;
  opacity: 1;
}

.page-splitter {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 10rem;
}

.exerpt {
  color: lighten(gray,10%);
  margin: 0;
  padding-left: 1rem;

  &--splitter {
    width: 3rem;
  }
}

._demo--heading {
  z-index: 10;
  padding-left: 3%;
  padding-right: 3%;
  position: fixed;
  width: 100%;
  height: 4rem;
}

._demo--container {
  margin: 0;
  padding: 0;
  width:100%;
}

.result {
  margin: 0;
  padding-top: 4rem;
  width:100%;

  &--placeholder {
    text-align: center;
    color: lighten(gray,20%);
  }

  &--product-details {
    display: none;
  }

  &--subheader {
    @include grid(7);
  }

  &--compare-results {
    border-radius: 2rem;
    color: #9855d4;
    border-color: #9855d4;
    width: auto;
    font-size: 1rem;
    float: right;
    margin-top: 1rem;

    &:hover {
      color: white;
      background-color: #9855d4;
    }

    &:focus {
      color: white;
      background-color: #9855d4;
    }
  }

  &--autocomplete {
    z-index: 1000;
    position: fixed;
    width: 100%;
    background-color: lighten(gray,15%);
    margin-top: 8rem;

    &--items {
      padding: 0.5 rem;
      width: 80%;
      vertical-align: middle;
      position: relative;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    &--item {
      padding: 0.5rem;

      &:hover {
        background-color: lighten(gray, 25%);
      }

      &--id {
        display: none;
      }
    }
  }

  &--search {
    z-index: 1000;
    width: 100%;
    position: fixed;
    background-color: gray;
    height: 8rem;

    &--input {
        display: block;
        position: relative;
        width: 80%;
        vertical-align: middle;
        margin-left: auto;
        margin-right: auto;
        border: none;
        border-bottom: 1px solid;
        padding: 1rem;
        margin-top: 2rem;
        border-radius: 3px;
        font-size: 2rem;
        background: inherit;
    }

    &--input:hover, &--input:focus {
      color: black;
      background: inherit;
      border-radius: 7px;
      transition: all 0.5s;
    }
  }

  &--article {
    padding-top: 3rem;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  &--key {

    &--item {
      @include grid(4);
      float: left;
      margin: 0;
    }

    &--color {
      border-radius: 2rem;
      width: 1.5rem;
      height: 1rem;
      float: left;
      margin: 0;
    }

    &--name {
      float: left;
      margin: 0;
      padding-left: 1rem;
      line-height: 1rem;
    }
  }

  &--sidebar {
    @include grid(1.5);
    float: left;
    position: fixed;
    margin-top: 3rem;
    top: 15rem;

    &-link {
      color: black;
      text-decoration: none;

      &:hover {
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }

  &--product {
    @include grid(10);
    padding-left: 2rem;
    margin-top: 8rem;
    float: none;
    margin-left: auto;
    margin-right: auto;

    &--x {
      float: right;
      display: none;
    }
  }

  &--product-comparison {
    @include grid(6);
    margin-top: 8rem;
    padding-left: 1rem;

    .result--graph {
      @include grid(12);
    }

    .result--keywords {
      @include grid(12);
    }
  }

  &--h2 {
    font-size: 3rem;
  }

  &--h3 {
    font-size: 2rem;
  }

  &--p {
    font-size: 1rem;
  }

  &--keywords {
    @include grid(12);
    margin-top: 0;

    @include breakpoint(800px) {
      @include grid-reset;
      @include grid(5);
      margin-right: 0;
      margin-top: 0;
      padding-left: 3rem;
    }

    &--header {
      line-height: 1rem;
    }

    &--feature {
      margin: 0;
      z-index: -1000;
    }
  }

  &--keyword {
    float: left;
    margin: 0;
    margin-right: 0.5rem;
    background-color: #00b4a0;

    &:hover {
      background-color: #ececec;
    }

    &--splitter {
      width: 3rem;
    }

    &--name {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      margin-left: .5rem;
      background-color: #ececec;
      color: #006d5d;
      font-size: 1rem;

      &:hover {
        background-color: #00b4a0;
        color: #ffffff;
      }
    }
  }

  &--graph {
    @include grid(12);
    @include breakpoint(800px) {
      @include grid-reset;
      @include grid(7);
    }
    padding-bottom: 1rem;

    &--name {
      @include grid(3);
      float: left;
    }

    &--bar {
      @include grid(9);
      margin: 0;
    }

    &--percent {
      position: relative;
      margin: 0;
      height:1rem;
    }

    &--pos {
      z-index: 3;
      position: absolute;
      margin: 0;
      background-color: #00b4a0;
      float: left;
      border-radius: 2rem;
      border-radius: 2rem;
    }

    &--neutral {
      z-index: 2;
      position: absolute;
      margin: 0;
      background-color: #734098;
      float: left;
      border-radius: 2rem;
      border-radius: 2rem;
    }

    &--neg {
      z-index: 1;
      position: absolute;
      margin: 0;
      background-color: #ba8ff7;
      float: left;
      border-radius: 2rem;
      border-radius: 2rem;
    }
  }
}

.pane_2 {
  background-color: #c0e6ff;
  margin-right: 0 !important;
  height: 100%;
  margin-top: 0;
  padding-top: 8rem;
  padding-right: 1rem;
}

.banner--service-icon {
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.banner--service-info {
  padding-left: 1rem;
}

._demo--container {
  @include breakpoint(get('x-large')) {
    max-width: $container-width-x-large;
  }
}

.loader {
  margin-left:auto;
  margin-right:auto;
}

.jeff-quote {
  position: fixed;
  left: -9999px;
  top: -9999px;
  right: -9999px;
  bottom: -9999px;
  // width: 50%;
  // height: 80%;
  width: 100%;
  height: 100%;
  min-width: 500px;
  padding: 10% 30%;
  margin: auto;
  background-color: white;
  font-size: 4rem;
  font-weight: bold;
  line-height: 1;
  transition: 0.5s;
  z-index: 1000;

  // display: none;

  visibility: visible;
  opacity: 1;

  &_hidden {
    visibility: hidden;
    opacity: 0;
  }

  &--1 {
    @include visibility-hidden;
    transition: 0.1s;
    &_show {
      @include visibility-show;
    }
  }
  &--2 {
    @include visibility-hidden;
    transition: 0.1s;
    &_show {
      @include visibility-show;
    }
  }
  &--3 {
    @include visibility-hidden;
    transition: 0.1s;
    &_show {
      @include visibility-show;
    }
  }
}

$expand-duration: 0.2s;

.expand-arrow {
  @include visibility-hidden;
  $size: 3rem;
  width: $size;
  height: $size;
  background-color: color('yellow', 30);
  position: fixed;
  top: 50%;
  margin-left: - $size / 2;
  border-radius: 50%;
  box-shadow: 0px 0px 0.2rem rgba(27, 27, 27, 0.55);
  cursor: pointer;
  transition: $expand-duration;
  z-index: 100;

  &:after {
    $arrow-size: 0.5rem;
    border: #{$arrow-size * 2} solid transparent;
    border-right-color: color('yellow', 50);
    margin-left: -0.1rem;
    margin-top: 0.45rem;
  }

  /* rotate when .payload-column is expanded */
  .payload-column_expanded & {
    transform: rotateZ(180deg);
    animation: none !important;
  }

  /* appear when .payload-column is hovered */
  .payload-column:hover & {
    @include visibility-show;
    animation: expand-arrow-animation_move 3s infinite;
  }

  @include breakpoint(get('x-large')) {
    top: 16rem;
  }
}

@keyframes expand-arrow-animation_fade {
  0%   { opacity: 0; }
  50%  { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes expand-arrow-animation_move {
  0%   { transform: translateX(0px); }
  50%  { transform: translateX(-10px); }
  100% { transform: translateX(0px); }
}

pre {
  white-space: pre;
}

.parentDiv {
  @include breakpoint(get('large')) {
    width: $container-width-large;
  }
  @include breakpoint(get('x-large')) {
    width: $container-width-x-large;
  }
}

.payload-column {
  transition: $expand-duration;
}
.payload-column_expanded {
  width: 100%;
}
